<h3><%= @question.title %></h3><br><br>

<p><%= @question.question_text %></p>

<% if @question.tags %>
  <h5>Tags:
    <% @question.question_tags.each do |tag| %>
      <%= tag %>  
    <% end %>
  </h5>
<% end %>
<!-- QUESTION VOTES NEEDED -->
<!-- Question comments form here -->
<!-- Question comments -->
<!-- Question Answer Form Here -->
<!-- Questions Answers shown here/Voting Needed -->
<%= render partial:"partials/answers_show", locals: {
  question: @question } %>
<!-- Answer comment form here -->
<%= render partial:"partials/form_answers", locals: { question: @question, answer: @answer, errors: @errors } %>
<!-- SHow Answers Comments -->

<p><%= link_to "Edit Question", edit_question_path(@question) %></p>

<p><%= link_to "Delete Question", @question, method: :delete %></p>
