<h3><%= @question.title %></h3><br><br>

<p><%= @question.question_text %>
<!-- QUESTION VOTES NEEDED -->
<!-- Question comments form here -->
<!-- Question comments -->
<!-- Question Answer Form Here -->
<div class="answer-form">
<%= render partial:"partials/form_answers", locals: { question: @question, answer: @answer, errors: @errors } %>
</div>
<!-- Questions Answers shown here/Voting Needed -->
<div class="answers">
  <ul class="answers-list">
    <%= render partial:"partials/answers_show", locals: {
  question: @question } %>
  </ul>
</div>
<!-- Answer comment form here -->
<!-- SHow Answers Comments -->

<p><%= link_to "Edit Question", edit_question_path(@question) %></p>

<p><%= link_to "Delete Question", @question, method: :delete %></p>
